<div class="container">
  <div class="title">
    <h1>Add a new list</h1>
  </div>
  <%= render 'lists/form', list: @list %>
  <%= link_to 'Back to lists', lists_path, class: 'btn btn-primary' %>
</div>
